<?xml version="1.0" encoding="UTF-8"?>

<DataRecord> 
  <column name="客户编号" defValue="0" valueType="VARCHAR(30)" databaseName="customerID"/>  
  <column name="年龄" defValue="99" valueType="INT" databaseName="customerAge"/>  
  <column name="套餐品牌" defValue="全球通" valueType="VARCHAR(30)" databaseName="tariffPackage"/>  
  <column name="信用等级" defValue="五星级钻" valueType="VARCHAR(50)" databaseName="creditRating"/>  
  <column name="是否使用4GUSIM卡" defValue="是" valueType="VARCHAR(10)" databaseName="is4GUsim"/>  
  <column name="是否4G资费" defValue="是" valueType="VARCHAR(10)" databaseName="is4Tariff"/>  
  <column name="网龄" defValue="0" valueType="INT" databaseName="netAge"/>  
  <column name="当月ARPU" defValue="0.0" valueType="FLOAT" databaseName="currentARPU"/>  
  <column name="当月MOU" defValue="0" valueType="FLOAT" databaseName="currentMOU"/>  
  <column name="当月停机天数" defValue="0.0" valueType="FLOAT" databaseName="shutDownDays"/>  
  <column name="当月停机次数" defValue="0" valueType="LONG" databaseName="shutDownTimes"/>  
  <column name="当月DOU" defValue="0" valueType="BIGINT" databaseName="currentDOU"/>  
  <column name="随意玩编号" defValue="0" valueType="BIGINT" databaseName="freePlayNo"/>  
  <column name="终端制式" defValue="GSM" valueType="VARCHAR(30)" databaseName="ueMode"/>  
  <column name="终端机型" defValue="GSM" valueType="VARCHAR(30)" databaseName="ueType"/>  
  <column name="是否智能机" defValue="Y" valueType="VARCHAR(10)" databaseName="isSmartUe"/>  
  <column name="终端使用时间（月）" defValue="0" valueType="INT" databaseName="usedMonth"/>  
  <column name="终端屏幕大小" defValue="0.0" valueType="VARCHAR(20)" databaseName="ueScreenSize"/>  
  <column name="当月省内漫游时长" defValue="0" valueType="INT" databaseName="intraRoamingTime"/>  
  <column name="当月省际漫游时长" defValue="0" valueType="INT" databaseName="interRoamingTime"/>  
  <column name="外呼营销4G终端是否成功" defValue="是" valueType="VARCHAR(10)" databaseName="is4GExtSaleSuc"/>  
  <column name="是否为策反客户" defValue="0" valueType="INT" databaseName="customerChan"/>  
  <column name="入网时间" defValue="20160107" valueType="VARCHAR(30)" databaseName="netDate"/>  
  <column name="当月基础语音资费套餐名称编码" defValue="0" valueType="VARCHAR(30)" databaseName="currentCallNum"/>  
  <column name="当月流量套餐名称编码" defValue="0" valueType="VARCHAR(30)" databaseName="currentDataNum"/>  
  <column name="当月是否有订购安心包" defValue="0" valueType="INT" databaseName="currentAnxinBag"/>  
  <column name="当月是否订制放心用业务" defValue="0" valueType="INT" databaseName="currentFangBag"/>  
  <column name="付费方式" defValue="0" valueType="BIGINT" databaseName="currentPayType"/>  
  <column name="常驻小区类型编码" defValue="0" valueType="BIGINT" databaseName="cellNum"/>  
  <column name="是否学校小区" defValue="0" valueType="INT" databaseName="isSchoolCell"/>  
  <column name="是否为敏感客户" defValue="0" valueType="INT" databaseName="isSensCustomer"/>  
  <column name="向前三月消费总额（元）" defValue="0.00" valueType="VARCHAR(30)" databaseName="threeARPU"/>  
  <column name="向前两月消费总额 （元）" defValue="0.00" valueType="VARCHAR(30)" databaseName="twoARPU"/>  
  <column name="前一月消费总额 （元）" defValue="0.00" valueType="VARCHAR(30)" databaseName="oneARPU"/>  
  <column databaseName="genColumn_1" defValue="0" name="客户星级" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_2" defValue="0" name="向前三月超流量套餐费用 （元）" valueType="FLOAT"/>  
  <column databaseName="genColumn_3" defValue="0" name="前一月超流量套餐费用 （元）" valueType="FLOAT"/>  
  <column databaseName="genColumn_4" defValue="0" name="向前两月超流量套餐费用 （元）" valueType="FLOAT"/>  
  <column databaseName="genColumn_5" defValue="0" name="向前两月流量费用总额 （元）" valueType="FLOAT"/>  
  <column databaseName="genColumn_6" defValue="0" name="向前三月流量费用总额 （元）" valueType="FLOAT"/>  
  <column databaseName="genColumn_7" defValue="0" name="向前三月免费流量资源总量（KB）" valueType="FLOAT"/>  
  <column databaseName="genColumn_8" defValue="0" name="前一月流量费用总额 （元）" valueType="FLOAT"/>  
  <column databaseName="genColumn_9" defValue="0" name="前一月免费流量资源总量（KB）" valueType="FLOAT"/>  
  <column databaseName="genColumn_10" defValue="0" name="向前两月免费流量资源总量（KB）" valueType="FLOAT"/>  
  <column databaseName="genColumn_11" defValue="0" name="向前两月实际产生流量（KB）" valueType="FLOAT"/>  
  <column databaseName="genColumn_12" defValue="0" name="向前三月实际产生流量（KB）" valueType="FLOAT"/>  
  <column databaseName="genColumn_13" defValue="0" name="向前三月超流量数量（KB）" valueType="FLOAT"/>  
  <column databaseName="genColumn_14" defValue="0" name="前一月实际产生流量（KB）" valueType="FLOAT"/>  
  <column databaseName="genColumn_15" defValue="0" name="前一月超流量数量（KB）" valueType="FLOAT"/>  
  <column databaseName="genColumn_16" defValue="0" name="向前两月超套餐流量（KB）" valueType="FLOAT"/>  
  <column databaseName="genColumn_17" defValue="0" name="当月4G流量" valueType="FLOAT"/>  
  <column databaseName="genColumn_18" defValue="0" name="当月上行流量" valueType="FLOAT"/>  
  <column databaseName="genColumn_19" defValue="0" name="当月2G流量" valueType="FLOAT"/>  
  <column databaseName="genColumn_20" defValue="0" name="当月3G流量" valueType="FLOAT"/>  
  <column databaseName="genColumn_21" defValue="0" name="当月免费流量资源总量（KB）" valueType="FLOAT"/>  
  <column databaseName="genColumn_22" defValue="0" name="当月超流量数量（KB）" valueType="FLOAT"/>  
  <column databaseName="genColumn_23" defValue="0" name="当月下行流量" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_24" defValue="0" name="当月实际产生流量" valueType="FLOAT"/>  
  <column databaseName="genColumn_25" defValue="0" name="常用业务大类3编码" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_26" defValue="0" name="常用APP1编码" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_27" defValue="0" name="常用业务大类1编码" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_28" defValue="0" name="常用业务大类2编码" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_29" defValue="0" name="手机型号编码" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_30" defValue="0" name="手机品牌" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_31" defValue="0" name="常用APP2编码" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_32" defValue="0" name="常用APP3编码" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_33" defValue="0" name="近三个月短信查询话费次数" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_34" defValue="0" name="近三个月拨打10086查询话费次数" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_35" defValue="0" name="操作系统软件版本编码" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_36" defValue="0" name="主屏尺寸" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_37" defValue="0" name="热线评价是否满意" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_38" defValue="0" name="近三个月拨打10086热线人工记录次数" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_39" defValue="0" name="近1年是否有投诉GPRS费用问题" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_40" defValue="0" name="近1年是否有投诉话费问题" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_41" defValue="0" name="是否投诉实时话费" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_42" defValue="0" name="投诉时间" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_43" defValue="0" name="当月是否有投诉" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_44" defValue="0" name="近三个月热线通话平均时长（秒）" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_45" defValue="0" name="近一年是否有投诉退费" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_46" defValue="0" name="投诉时手机是否开通gprs功能" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_47" defValue="0" name="投诉时手机是否开通手机上网功能" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_48" defValue="0" name="是否投诉流量费用" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_49" defValue="0" name="近三个月月均投诉次数" valueType="FLOAT"/>  
  <column databaseName="genColumn_50" defValue="0" name="投诉当月缴费总额（元）" valueType="FLOAT"/>  
  <column databaseName="genColumn_51" defValue="0" name="投诉当月缴费次数" valueType="FLOAT"/>  
  <column databaseName="genColumn_52" defValue="0" name="当月客户网厅登录的次数" valueType="FLOAT"/>  
  <column databaseName="genColumn_53" defValue="0" name="近一年投诉退费金额（元）" valueType="FLOAT"/>  
  <column databaseName="genColumn_54" defValue="0" name="当月欠费停机次数（次）" valueType="FLOAT"/>  
  <column databaseName="genColumn_55" defValue="0" name="投诉时手机是否属于停机" valueType="FLOAT"/>  
  <column databaseName="genColumn_56" defValue="0" name="近三个月是否有投诉流量提醒延时服务" valueType="FLOAT"/>  
  <column databaseName="genColumn_57" defValue="0" name="当月客户使用短厅的次数" valueType="FLOAT"/>  
  <column databaseName="genColumn_58" defValue="0" name="当月拨打10086的次数" valueType="FLOAT"/>  
  <column databaseName="genColumn_59" defValue="0" name="当月客户登录APP的次数" valueType="FLOAT"/>  
  <column databaseName="genColumn_60" defValue="0" name="当月可用余额" valueType="FLOAT"/>  
  <column databaseName="genColumn_61" defValue="0" name="前三个月平均ARPU" valueType="FLOAT"/>  
  <column databaseName="genColumn_62" defValue="0" name="前三个月平均MOU" valueType="FLOAT"/>  
  <column databaseName="genColumn_63" defValue="0" name="前三月平均DOU" valueType="FLOAT"/>  
  <column databaseName="genColumn_64" defValue="0" name="是否流失" valueType="VARCHAR(100)"/>  
  <column databaseName="genColumn_65" defValue="0" name="营销是否成功" valueType="VARCHAR(100)"/>
  <column databaseName="genColumn_66" defValue="0" name="权重W" valueType="FLOAT"/>
  <column databaseName="genColumn_67" defValue="0" name="终端使用时间月" valueType="FLOAT"/>
</DataRecord>
